<h2><%= @topic.name %></h2>
<ul>
  <% @topic.insights.each do |insight| %>
    <li><%= insight.text %></li>
  <% end %>
</ul>
<%= form_for [@topic, @insight] do |f| %>
  <%= render "shared/errors", object: @insight %>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>
